<ng-container [ngSwitch]="authRequestPasswordResetState$ | async">
  <ng-container *ngSwitchCase="apiState.Success">
    <app-template-success [headline]="authRequestPasswordResetDataMessage$ | async"></app-template-success>
  </ng-container>
  <ng-container *ngSwitchCase="apiState.Pending">
    <app-template-pending></app-template-pending>
  </ng-container>
  <ng-container *ngSwitchCase="apiState.Init">
    <app-template-form>
      <form [formGroup]="formGroup" (submit)="handleSubmit()">
        <h1>Request reset password</h1>
        <mat-form-field appearance="fill">
          <mat-label>E-mail</mat-label>
          <input matInput formControlName="email" type="email">
          <mat-error *ngIf="formGroup.controls.email.hasError('email') && !formGroup.controls.email.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="formGroup.controls.email.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <div class="app-templates-form_controls">
          <button mat-raised-button type="submit" color="primary">Request</button>
        </div>
      </form>
    </app-template-form>
  </ng-container>
  <ng-container *ngSwitchDefault>
    <app-template-failed [headline]="authRequestPasswordResetErrorMessage$ | async"></app-template-failed>
  </ng-container>
</ng-container>
