<div class="app-home-page">
  <div class="app-home-page--title">
  <img class="img-fluid img-4xl" src="assets/img/logo.svg" alt="Doggo.Rocks"/>
  <h1 i18n="@@home_page_welcome">Hello, Hoomans!</h1>
  </div>

  <div class="app-home-page--content" i18n="@@home_page_content">
    <p>
      Doggo.Rocks is an application for manage your pets. Currently application is on <i>INDEV</i> stage. Our goal for the finishing first stage is to develop web and iOS application for:
    </p>
    <ul>
      <li>Weight management</li>
      <li>Vaccination and meds management</li>
      <li>Digital health log</li>
    </ul>
    <p>
      In the future we will add more features and improve the application. Such like:
    </p>
    <ul>
      <li>Dog park location in your area</li>
      <li>Dog walk tracking</li>
      <li>Analysing dog health enhanced with AI</li>
      <li>and much more…</li>
    </ul>
    <p>
      We are looking forward to see you in the future!
    </p>
    <p>We believe in <i>open source projects</i>. Doggo.Rocks repositories will be free to use and MIT licenced until it stays on INDEV stage:</p>
    <ul>
      <li>
        <a mat-button href="https://github.com/amadeuszblanik/doggo-api">Node.JS Backend Application</a>
      </li>
      <li>
        <a mat-button href="https://github.com/amadeuszblanik/doggo-ios">iOS Application</a>
      </li>
      <li>
        <a mat-button href="https://github.com/amadeuszblanik/doggo-frontend">Web Application (Angular)</a>
      </li>
    </ul>
    <p style="text-align: right">Woof, Doggo team! 🐾</p>
  </div>

  <div class="app-home-page--controls">
    <a routerLink="/auth/sign-up" mat-raised-button color="primary">Create new account</a>
    <a routerLink="/auth/sign-in" mat-button>or sign in</a>
  </div>
</div>
