/* You can add global styles to this file, and also import other style files */

@use 'sass:map';
@use '@angular/material' as mat;

@import 'styles/material-theme';
@import 'styles/vars';

@include mat.core();

:root {
  --size-xs: #{$size-xs};
  --size-sm: #{$size-sm};
  --size-md: #{$size-md};
  --size-lg: #{$size-lg};
  --size-xl: #{$size-xl};
  --size-xxl: #{$size-xxl};
  --color-primary: #{mat.get-color-from-palette(map.get($color-config, 'primary'), 500)};
  --color-accent: #{mat.get-color-from-palette(map.get($color-config, 'accent'), 500)};
  --color-warn: #{mat.get-color-from-palette(map.get($color-config, 'warn'), 500)};
  --color-text: white;
  --color-background: #303030;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.img-xs {
  max-width: 16px;
}

.img-sm {
  max-width: 24px;
}

.img-md {
  max-width: 32px;
}

.img-lg {
  max-width: 42px;
}

.img-xl {
  max-width: 64px;
}

.img-2xl {
  max-width: 128px;
}

.img-4xl {
  max-width: 256px;
}
